@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

:root {
    --sidebar-size: 300px;
    --primary: "#13293D";
    --secondary: "#DAA520";
    --accent: "#F0EAD6";
}

.cinzel-decorative{
    font-family: 'Cinzel Decorative', cursive;
}

#room_info_sidebar {
    width: var(--sidebar-size);
}

.btn-rounded-reverse {
    --mask-size: .6em;
    --negative-mask-size: calc(var(--mask-size) * -1);
    --mask: radial-gradient(var(--mask-size) at var(--mask-size) var(--mask-size),
            #0000 98%, #000) var(--negative-mask-size) var(--negative-mask-size);
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

/* Data Table */
.dataTables_wrapper .dataTables_length select {
    background-image: none !important;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    margin: 10px 20px;
}
.dataTables_wrapper {
    color: #13293D;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-radius: 7.5px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0.25em 0.75em !important;
}
.hover-table:hover td{
    background-color: #13293D11;
}

/* Toast */
.delete-toast{
    border-radius: 5px !important;
}
.delete-toast .iziToast-body, .delete-toast .iziToast-texts{
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
}
.delete-toast .iziToast-message{
    padding-block: 1em !important;
}
.delete-toast .iziToast-buttons button{
    padding: 5px 20px !important;
    margin-inline: 10px !important;
}

.text-clamp{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical
}

/* Landing Page */
section.web-banner{
    --nav-h: 64px;
    max-height: calc(100vh - (var(--nav-h) + 70px));
    overflow: hidden;
    display: flex;
    align-items: center;
}
.room-search {
    top: 0;
    left: 50%;
    translate: -50% var(--search-pos, -25%);
}
.stars{
    padding-top: var(--star-top, 150px);
    padding-bottom: 25px
}
.card{
    background-color: white;
}

input[type="checkbox"].peer:checked + label.room-check{
    border: 1px solid #2563eb;
    color: #2563eb;
}

/* Responsive Based on Tailwind */

/* sm */
@media (min-width: 640px) {
    .room-info-section {
        margin-left: var(--sidebar-size);
    }
}

/* md */
@media (min-width: 768px) {
    :root{
        --star-top:40px;
        --search-pos: -75%;
    }
}

/* lg */
@media (min-width: 1024px) {
    :root{
        --star-top: 30px;
    }
}

/* xl */
@media (min-width: 1280px) {}

/* 2xl */
@media (min-width: 1536px) {}

@media (orientation: landscape) {}

@media (orientation: portrait) {}
